<div id="large-hero">
  <%= image_tag('/assets/AcrossTheParkHero.png', width: '100%') %>
</div>

<div id="small-hero">
  <%= image_tag('/assets/small-hero.PNG', width: '100%') %>
</div>

<div class="tix-info">
  <a class='donate-btn avenir' target="_" href="http://www.brownpapertickets.com/event/2591970">PURCHASE TICKETS</a>
  <br>
  <a class='donate-btn avenir' target="_" href="https://www.indiegogo.com/projects/across-the-park-arts#/">DONATE NOW</a>
</div>

<div class="about-container">
  <div class="about-block1 align-top">
    <div class="date-container">
      <div class="dates">
        <div>
          <span class="avenir show-wkday">THURSDAY</span><span id="preview-performance" class="avenir orange-text"> PREVIEW PERFORMANCE!</span>
          <p class="show-datetime phosphate"><span class="purple-text">10/27 </span>  7 PM</p>
        </div>
        <div>
          <span class="avenir show-wkday">FRIDAY</span>
          <p class="show-datetime phosphate"><span class="purple-text">10/28 </span>  8 PM</p>
        </div>
        <div>
          <span class="avenir show-wkday">SATURDAY</span>
          <p class="show-datetime phosphate"><span class="purple-text">10/29 </span>  2 PM</p>
        </div>
        <div>
          <span class="avenir show-wkday">SATURDAY</span>
          <p class="show-datetime phosphate"><span class="purple-text">10/29 </span>  8 PM</p>
        </div>
      </div>
      <a href="http://aracaproject.com">
        <%= image_tag('/assets/aracaproject_logo', class:"araca-img") %>
      </a>
    </div>
  </div>

  <div class="about-block2">
    <div class="summary-container">
      <h2 class='section-title phosphate'>THE PLAY</h2>
      <p class='avenir gray-text summary-text'>Stuck on an island with 8 million people, Caroline and Denny are lonely and over-medicated. Separated by Central Park and almost two decades in age, this dysfunctional pair is brought together online by lust and their inability to cope. ACROSS THE PARK, a new play by Kate Tucker Fahlsing, follows Denny and Caroline’s non-traditional relationship for ten years and about ten thousand text messages. This dark comedy takes a candid look at mental illness, the search for human connection, and what happens when the only person who truly understands you is as damaged as you are.</p>
    <br>
    <br>
    <br>
      <div class="araca-proj summary-text">
        <!-- <%= image_tag('/assets/aracaproject_logo') %> -->
        <p class="align-top">
          ACROSS THE PARK is produced with support from a production award from Northwestern University and <a href="http://aracaproject.com">The Araca Project</a>.
          The Araca Project is an initiative of The Araca Group (producers of <span>Urinetown, Wicked, A View From the Bridge</span>) to foster young entrepreneurs from Syracuse University, University of Michigan, Florida State University, Yale University, and Northwestern University.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="videos">
  <h2 class='section-title phosphate'>VIDEOS</h2>
  <iframe src="https://player.vimeo.com/video/180106281" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <p>TRAILER</p>
  <iframe src="https://player.vimeo.com/video/180106348" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <p>FUNDRAISING CAMPAIGN</p>
  <iframe src="https://player.vimeo.com/video/180106133" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <p>BLOOPERS</p>
</div>

<div class="press">
  <h2 class='section-title phosphate'>THE PRESS</h2>
  <a target="_" href="http://www.backstage.com/news/casting/now-casting-across-park-and-3-more-gigs/?utm_source=facebook&utm_medium=social&utm_campaign=Casting%20Posts">
    <div class="press-piece">
      <img src="/assets/nyc-centralpark.jpg" alt="NYC Central Park"/>
      <div class="press-text">
        <p class="phosphate">BACKSTAGE</p>
        <p class="avenir"> Now Casting: ‘Across the Park’ and 3 More Gigs</p>
      </div>
    </div>
  </a>

</div>

<div class="location">
  <p id="where-are-we" class="center-text section-title phosphate">
    WHERE ARE WE?
  </p>
  <p class="center-text avenir">
    314 W 54th St, New York, NY 10019
  </p>
  <div class="map">
    <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJt-9bhFdYwokR-1tjCK8LPGc&key=AIzaSyBkz6N7JlqvH70mhw7yeGa04AfQjuYBcr0" allowfullscreen></iframe>
  </div>
</div>
