<div id="large-hero">
  <%= image_tag('/assets/AcrossTheParkHero.png', width: '100%') %>
</div>

<div id="small-hero">
  <%= image_tag('/assets/small-hero.PNG', width: '100%') %>
</div>

<div class="about-container">
  <div class="about-block1 center-text align-top">
    <p class="avenir">RUNS</p>
    <p class='phosphate about-dates purple-text'>OCTOBER <span>27, 28, 29</span></p>
    <p class='avenir gray-text'>2016</p>
  </div>

  <div class="about-block2">
    <div class="summary-container">
      <h2 class='section-title phosphate'>THE PLAY</h2>
      <p class='avenir gray-text summary-text'>Stuck on an island with 8 million people, Caroline and Denny are lonely and over-medicated. Separated by Central Park and almost two decades in age, this dysfunctional pair is brought together online by lust and their inability to cope. ACROSS THE PARK, a new play by Kate Tucker Fahlsing, follows Denny and Caroline’s non-traditional relationship for ten years and about ten thousand text messages. This dark comedy takes a candid look at mental illness, the search for human connection, and what happens when the only person who truly understands you is as damaged as you are.</p>
    </div>
  </div>
</div>

<div class="tix-info">
  <a class='donate-btn avenir' target="_" href="http://www.brownpapertickets.com/event/2591970">PURCHASE TICKETS</a>
  <br>
  <a class='donate-btn avenir' target="_" href="https://www.indiegogo.com/projects/across-the-park-arts#/">DONATE NOW</a>
</div>

<div class="press">
  <h2 class='section-title phosphate'>THE PRESS</h2>
  <a target="_" href="http://www.backstage.com/news/casting/now-casting-across-park-and-3-more-gigs/?utm_source=facebook&utm_medium=social&utm_campaign=Casting%20Posts">
    <div class="press-piece">
      <img src="/assets/nyc-centralpark.jpg" alt="NYC Central Park"/>
      <div class="press-text">
        <p class="phosphate">BACKSTAGE</p>
        <p class="avenir"> Now Casting: ‘Across the Park’ and 3 More Gigs</p>
      </div>
    </div>
  </a>

</div>

<div class="location">
  <p id="where-are-we" class="center-text section-title phosphate">
    WHERE ARE WE?
  </p>
  <p class="center-text avenir">
    314 W 54th St, New York, NY 10019
  </p>
  <div class="map">
    <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJt-9bhFdYwokR-1tjCK8LPGc&key=AIzaSyBkz6N7JlqvH70mhw7yeGa04AfQjuYBcr0" allowfullscreen></iframe>
  </div>
</div>
