
<div class="bio avenir">
  <h2 class="section-title phosphate center-text">THE TEAM</h2>
  <div class="bio-block1">
    <h2>Kate Tucker Fahlsing</h2>
    <h3>Playwright, Producer</h3>
    <%= image_tag('KTF', alt:'Kate Tucker Fahlsing', class: 'bio-image') %>
  </div>
  <div class="bio-block2 align-top">
    <p class='text'>
      Kate Tucker Fahlsing (one half of the two Kates working on this production) is a playwright and screenwriter. She recently graduated from Northwestern University with her MFA in Writing for the Screen and Stage. Kate is compelled to write about the things we cannot discuss at the dinner table, like nontraditional relationships, chronic and invisible illnesses, and 21st century femininity. Her plays have been featured as readings at Chicago Dramatists, Teatro Vista at Victory Gardens Theater, Greenhouse Theater, and Stage 773 in Chicago. Her plays include, ACROSS THE PARK, HERPES, DUCKS UNLIMITED, SLEEP NUMBER, and PLAN B. She’s also written and performed Off-Off Broadway at La MaMa, Dixon Place, and Judson Church. A production of Kate’s play HERPES, recently premiered at Stage 773 as a part of the <span>4 by 4: 4 New Plays by 4 New Writers showcase</span>, which she produced. Kate apprenticed with Oscar-nominated screenwriter, Hawk Ostby, for three years where she wrote and developed projects for both TV and film. She’s a top ten finalist for the Playwrights’ Center Core Apprentice Program 2016-17. Kate has a strong affection for the outdoors and her Labrador retriever, Ojibwa. More info:
      <a target="_" href="http://www.katetuckerfahlsing.com">www.KateTuckerFahlsing.com</a>
    </p>
  </div>
</div>
<div id='kcm-bio' class="bio avenir">
  <div class="bio-block1">
    <h2>Kathryn Coughlin Maggiotto</h2>
    <h3>Producer</h3>
    <%= image_tag('KCM', alt:'Kathryn Coughlin Maggiotto', class: 'bio-image') %>
  </div>
  <div class="bio-block2 align-top">
    <p class='text'>
      Kathryn also known on this production as "other Kate" writes, develops and produces new plays. She served as the literary manager and associate producer of CulturalDC’s Source Festival for four years. Other dramaturgy credits include Taffety Punk Theatre Company, The DC Queer Theatre Festival and Young Playwrights’ Theater where she was a Resident Teaching Artist. Kathryn’s plays have been developed and produced by Field Trip Theater, Rorschach Theatre, Inkwell Theatre, 1MPF, DC-Page-to-Stage, St. Bonaventure University, The Disreputables and Meat and Bone Theatre Company. Her plays include MORE THAN BEFORE, SLIP, THEY SAY THERE'S A WAR GOING ON, SOUNDS OF ALARM and ALL WE HAVE. Kathryn graduated Phi Beta Kappa with a degree in Theater and Dance from Trinity College in Hartford, Connecticut. Studio 28 will be producing her play BIGGER THAN YOU, BIGGER THAN ME this spring. She just recently relocated her life to New York City and is writing a play about cults (or something like that).
    </p>
  </div>
</div>
<div id='maureen-bio' class="bio">
  <div class="bio-block1 avenir">
    <h2>Maureen Monterubio</h2>
    <h3>Director</h3>
    <%= image_tag('Maureen', alt:'Maureen Monterubio', class: 'bio-image') %>
  </div>
  <div class="bio-block2 align-top">
    <p class='text'>
      Maureen Monterubio is a Brooklyn based director. She mainly focuses on new plays. Her work has been produced by Tiny Rhino, 14th Street Y, Wide Eyed Productions, Peculiar Works Project, Field Trip Theatre, Source Festival, Rorschach Theatre, and Manhattan Theatre Club. In September she will be directing PREGNANT PAUSE at the United Solo Festival. Maureen interned at New York Theatre Workshop. She is a proud Tennessee Volunteer.
    </p>
  </div>
</div>
<div id='team-actionbtns' class='tix-info'>
  <a class='donate-btn avenir' target="_" href="http://www.brownpapertickets.com/event/2591970">PURCHASE TICKETS</a>
  <a class='donate-btn avenir' target="_" href="https://www.fracturedatlas.org/site/fiscal/profile?id=14612">DONATE NOW</a>

</div>
