<div class="bio avenir">
  <div class="bio-block1">
    <h2>Kate Tucker Fahlsing</h2>
    <h3>Playwright, Producer</h3>
    <%= image_tag('KTF', alt:'Kate Tucker Fahlsing', class: 'bio-image') %>
  </div>
  <div class="bio-block2 align-top">
    <p class='text'>
      Kate Tucker Fahlsing (the other half of the two Kates working on this production) is a playwright and screenwriter. She recently graduated from Northwestern University with her MFA in Writing for the Screen and Stage. Kate is compelled to write about the things we cannot discuss at the dinner table, like nontraditional relationships, chronic and invisible illnesses, and 21st century femininity. Her plays have been featured as readings at Chicago Dramatists, Teatro Vista at Victory Gardens Theater, Greenhouse Theater, and Stage 773 in Chicago. Her plays include, ACROSS THE PARK, HERPES, DUCKS UNLIMITED, SLEEP NUMBER, and PLAN B. She’s also written and performed Off-Off Broadway at La MaMa, Dixon Place, and Judson Church. A production of Kate’s play HERPES, recently premiered at Stage 773 as a part of the 4 by 4: 4 New Plays by 4 New Writers showcase, which she produced. Kate apprenticed with Oscar-nominated screenwriter, Hawk Ostby, for three years where she wrote and developed projects for both TV and film. She’s a top ten finalist for the Playwrights’ Center Core Apprentice Program 2016-17. Kate has a strong affection for the outdoors and her Labrador retriever, Ojibwa. More info:
      <a href="katetuckerfahlsing.com">www.KateTuckerFahlsing.com</a>
    </p>
  </div>
</div>
