<nav>
  <ul>
    <li>HOME</li>
    <li>TEAM</li>
    <li>CONTACT</li>
    <li>DONATE</li>
    <li>PURCHASE TICKETS</li>
  </ul>
</nav>

<div class="">
  <%= image_tag('/assets/AcrossTheParkHero.png', width: '100%') %>
</div>

<div class="about-container">

  <div class="about-block1 center-text align-top">
    <p class="avenir">RUNS</p>
    <p class='phosphate about-dates purple-text'>OCTOBER 27, 28, 29</p>
    <p class='avenir gray-text'>2016</p>
    <p class='title-divider1 purple-text'>-</p>
  </div>

  <div class="about-block2 summary">
    <h2 class='summary-title phosphate'>THE PLAY</h2>
    <p class='title-divider2'>-</p>
    <p class='avenir gray-text summary-text'>Stuck on an island with 8 million people, Caroline and Denny are lonely and over-medicated. Separated by Central Park and almost two decades in age, this dysfunctional pair is brought together online by lust and their inability to cope. ACROSS THE PARK, a new play by Kate Tucker Fahlsing, follows Denny and Caroline’s non-traditional relationship for ten years and about ten thousand text messages. This dark comedy takes a candid look at mental illness, the search for human connection, and what happens when the only person who truly understands you is as damaged as you are.</p>
  </div>
</div>
