<nav>
  <ul class='sm-links'>
    <li>FACEBOOK</li>
    <li>INSTAGRAM</li>
    <li>TWITTER</li>
  </ul>
  <ul class='site-links'>
    <li>HOME</li>
    <li>TEAM</li>
    <li>CONTACT</li>
    <li>DONATE</li>
    <li>PURCHASE TICKETS</li>
  </ul>
</nav>

<div class="">
  <%= image_tag('/assets/AcrossTheParkHero.png', width: '100%') %>
</div>

<div class="about-container">
  <div class="about-block1 center-text align-top">
    <p class="avenir">RUNS</p>
    <p class='phosphate about-dates purple-text'>OCTOBER 27, 28, 29</p>
    <p class='avenir gray-text'>2016</p>
    <p class='title-divider1 purple-text'>-</p>
  </div>

  <div class="about-block2 summary">
    <h2 class='summary-title phosphate'>THE PLAY</h2>
    <p class='title-divider2'>-</p>
    <p class='avenir gray-text summary-text'>Stuck on an island with 8 million people, Caroline and Denny are lonely and over-medicated. Separated by Central Park and almost two decades in age, this dysfunctional pair is brought together online by lust and their inability to cope. ACROSS THE PARK, a new play by Kate Tucker Fahlsing, follows Denny and Caroline’s non-traditional relationship for ten years and about ten thousand text messages. This dark comedy takes a candid look at mental illness, the search for human connection, and what happens when the only person who truly understands you is as damaged as you are.</p>
  </div>
</div>

<div class="tix-info">
  <p class='purple-text avenir center-text'>
    TICKETS AVAILABLE SOON
  </p>
  <a class='donate-btn avenir' href="https://www.fracturedatlas.org/site/fiscal/profile?id=14612">DONATE NOW</a>
</div>

<div class="location">
  <p class="center-text avenir">
    WHERE ARE WE?
  </p>
  <div class="map">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJt-9bhFdYwokR-1tjCK8LPGc&key=AIzaSyBkz6N7JlqvH70mhw7yeGa04AfQjuYBcr0" allowfullscreen></iframe>
  </div>
</div>

<footer>
</footer>
