/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: "Phosphate";
  src: url('/assets/phosphate.ttf');
}

@font-face {
  font-family: "Avenir";
  src: url('/assets/Avenir.otf');
}

$purple: #9482bf;
$gray:   #9e9e9e;

.gray-text {
  color: #9e9e9e;
}

.purple-text {
  color: #9482bf;
}

a {
  text-decoration: none;
  color: black;
}

.align-top {
  vertical-align: top;
}

.center-text {
  text-align: center;
}

.avenir {
  font-family: 'Avenir';
}

.phosphate {
  font-family: 'Phosphate';
}

body * {
  box-sizing: border-box;
}

nav {
  height: 80px;
  font-family: 'Avenir';
  padding: 0 20px;
  a {
    color: $gray;
  }
  a:hover {
    color: $purple;
  }
  .site-links {
    float: right;
    line-height: 80px;
    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
  .sm-links {
    list-style: none;
    float: left;
    li {
      font-size: 14px;
      padding-top: 10px;
    }
  }
}

.about-container {
  height: 85vh;
  > div {
    display: inline-block;
    margin-left: 4%;
  }
}

.about-block1 {
  margin-top: 50px;
  width: 33%;
  .about-dates {
    font-size: 1.8em;
    letter-spacing: 4px;
    padding: 17px 0 5px 0;
  }
}

.about-block2 {
  width: 52%;
  margin-top: 68px;
  .summary-text {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 1.7em;
    padding-top: 10px;
  }
}

.section-title {
    font-size: 4em;
    letter-spacing: 8px;
}

.title-divider {
    font-size: 4em;
}

.tix-info {
  font-size: 2em;
  letter-spacing: 10px;
  text-align: center;
  height: 250px;
  p {
    margin-bottom: 30px;
  }
}

.donate-btn {
  text-decoration: none;
  color: $purple;
  border: 1px solid $purple;
  padding: 17px 30px 14px 30px;
}

.press {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.press-piece {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border: 1px solid #9e9e9e;
  img {
    max-width: 249px;
  }
  p {
    padding-top: 8px;
  }
}

.location {
  margin-top: 80px;
}

.map {
  width: 600px;
  margin: 0 auto;
}

footer {
  height: 80px;
}
